/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: 'Arial', 'Helvetica', 'sans-serif';
  color: black;
}

a{
  color: #F59e0b;
  text-decoration:none ;
}
a:hover, a:focus{
  text-decoration: underline;
  color: #755a2a;
}

label{
  font-weight: bold;
}
@media(min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

.col-id{
  width:30px;
  text-align: center;
}
 .col-acoes{
  width:150px;
  text-align: center;
  padding: 0px;
 }
 .col-acoes .p-button{
  margin-right: 5px;
 }

 .col-nom {
text-align: center;
 }

